/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.hidden {
  opacity: 0;
}

.slide-container {
  overflow: scroll;
  scrollbar-width: none;
}
