.reveal .slides {
  text-align: inherit !important;
  width: 1250px !important;
}

.reveal .hide-code .jp-Cell-inputWrapper {
  display: none;
}

.reveal .fragment.zoom {
  opacity: 0;
  transform: scale(0);
}
.reveal .fragment.zoom.visible {
  opacity: 1;
  transform: scale(1);
}

.reveal .fragment.none {
  transition: none;
}
